<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarNotifier">
        <activity
            android:name=".ui.view.SettingsActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.StarNotifier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.view.RepositoryDetailActivity"
            android:exported="false"
            android:label="Repository Traffic"
            android:theme="@style/Theme.StarNotifier"
            android:parentActivityName=".ui.view.SettingsActivity" />

        <!-- Test broadcast receiver for manual notification testing -->
        <receiver
            android:name=".receiver.TestBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.aatricks.starnotifier.TEST_STAR_NOTIFICATION" />
                <action android:name="io.aatricks.starnotifier.TEST_FORK_NOTIFICATION" />
                <action android:name="io.aatricks.starnotifier.TEST_WORKER" />
            </intent-filter>
        </receiver>
    </application>

</manifest>